{% extends 'base.html' %}

{% block header %}
<div class="col-md-6"><h1 style="font-size: 32px">{% block title %}Products{% endblock %}</h1></div>
{% endblock %}

{% block content %}
<div class="container" style="padding-top: 10px;">
    {% if items %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>SNo #</th>
                <th>SKU</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
            {% for item in items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.sku }}</td>
                <td>{{ item.name }}</td>
                <td>
                    <button class="btn" onclick="update_quantity(this, '{{item.id}}', -1)">-</button>
                    <input style="width: 35px;" type="text" value="{{ item.quantity }}" disabled>
                    <button class="btn" onclick="update_quantity(this, '{{item.id}}', 1)">+</button>
                </td>
            </tr>
            {% endfor %}
            </thead>
            <tbody>
            </tbody>
        </table>
    {% else %}
        <p>There are no products. Please add them from shell.</p>
    {% endif %}
</div>
<script>
    function update_quantity(elem, product_id, quantity) {
        var current_quantity = $(elem).parent().find('input').val();
        if (current_quantity == '0' && quantity == -1) {
            return false;
        }
        $.ajax({
            url: "{{ url_for('api.add_item_to_list') }}",
            type: 'POST',
            async: false,
            data: {list_id: '{{ list_id }}', product_id: product_id, quantity: quantity},
            success: function (result) {
                if (result.status == 'success') {
                    $(elem).parent().find('input').val(result.new_quantity);
                }
                else {
                    console.log(result.msg);
                }
            }
        });
    }
</script>
{% endblock %}